body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

.container {
    width: 60vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.back-link {
    display: inline-block;
    margin-top: 10px;
    color: #ffcc00;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

.personal-bests {
    margin-top: 30px;
}

h2 {
    color: #ffcc00;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

table th {
    background-color: #333;
    color: #ffcc00;
}

table tr:hover {
    background-color: #444;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    width: 10vw;
    height: auto;
    cursor: pointer;
}

.graph-image {
    display: block;
    width: 60%;
    height: auto;
    max-height: 30%;
    margin: 0 auto 30px auto;
}